@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

h2{
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
}

p{
    font-style: italic;
    color: #287094;
}

ion-content{
    --background: white;
}

ion-item{
    --background: white;
    color: black;
}

ion-list{
    --background: white;
}