<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/contact.png" />
  </div>

  <form id="form">
    <ion-input placeholder="Email" style="color:black;"><ion-icon name="person-circle-outline" ion-align-self-center></ion-icon></ion-input>
    <br>
    <ion-input type="password" placeholder="Password"><ion-icon name="lock-closed" ion-align-self-center></ion-icon></ion-input>
    <ion-button expand="block" shape="round">Login</ion-button>
  </form>
</ion-content>