<ion-header class="ion-no-border">
</ion-header>
<ion-content color="light">

  <img src="../../assets//project-logo/logo.png" alt="" class="src">

  <div class="login-section ion-padding">
    <div class="heading">
      <h1>Welcome! </h1>
      <p>Sign in to continue, <span routerLink="/register">no account yet?</span></p>
    </div>
    <div class="login-form">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-input type="email" [(ngModel)]="user_email" placeholder="Email" required></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline" class="icon2"></ion-icon>
        <ion-item>
          <ion-input type="password" [(ngModel)]="user_password" placeholder="Password" required></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button">
      <ion-button class="login-button" (click)="loginUser()">Login</ion-button>
      <p class="forgot" routerLink="/forgot">Forgot password?</p>
    </div>

  </div>
</ion-content>
