<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="margin-left: 10px;">
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/main">
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
      <ion-button routerLink="/cart">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-label>
      <p>Hola!</p>
      <h3>Checkout Information</h3>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slides ion-margin-bottom"></div>

  <div class="container">
    <ion-card *ngFor = " let x of cardItem ">

      <ion-card-header>
       {{ x.title }}
      </ion-card-header>
    
      <ion-card-content>
       {{ x.content }}
      </ion-card-content>
    
    </ion-card>
  </div>
</ion-content>
