<ion-header class="ion-no-border">
</ion-header>
<ion-content>

  <img src="../../assets//project-logo/logo.png" alt="" class="src">

  <div class="login-section ion-padding">
    <div class="heading">
      <h1>Forgot Password </h1>
      <p>Did you just forgot your password?</p>
    </div>
    <div class="login-form">
      <div class="form-input">
        <ion-item>
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="text" placeholder="Full Name"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button">
      <ion-button class="login-button" routerLink="/tabs">Verify</ion-button>
      <p class="forgot" routerLink="/login">Get Back</p>
    </div>

  </div>
</ion-content>
