<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
      style="color: white;"
        class="backbtn"
        routerLink="/main/tabs/tab1"
        routerDirection="back"
      >
      <ion-icon name="arrow-back-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label style="color: white; font-size: 20px;">Cart</ion-label>

    <ion-buttons slot="end">
      <ion-button class="notification" routerLink="/main/tabs/tab2" >
        <ion-icon name="basket" style="color: white; font-size: 20px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="order-items">
    
    <ion-card *ngFor="let cart of cart">
      <ion-card-content>

        <div class="item-img">
          <img src="{{cart.image}}" />
        </div>

        <div class="item-info">
          <p>{{ cart.cart_pname }}</p>
          <p>{{ cart.cart_pquant | currency: 'PHP'}}</p>

          <div class="btns" style="display: flex;">
          <ion-button class="main-button" (click)="addCheck(cart)">
            <ion-icon name="checkbox" style="color: white;"></ion-icon>
          </ion-button>
          <ion-button  class="main-button" color="danger" (click)="delCarts(cart.cart_id);">
            <ion-icon name="trash-outline" style="color: white;"></ion-icon>
          </ion-button>
        </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list style="background-color: white;">
    <ion-list-header>
      Expenses Overview
    </ion-list-header>
    <ion-item>
      Cart Items:{{ cartCounter }} total product/s.<span slot="end"></span>
     </ion-item>
    <ion-item>
      Total Cart Products: {{ totalamount | currency:'PHP'}}<span slot="end"></span>
    </ion-item>
    <ion-item>
      Delivery Charge: {{ delivery | currency :'PHP' }}<span slot="end"></span>
     </ion-item>
    <ion-item>
     Total Expenses: {{ totalamounts | currency:'PHP' }}<span slot="end"></span>
    </ion-item>
    
  </ion-list>

</ion-content>
