<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
    These are the items from cart table, display with ion list.
  -->
  <ion-list>
    <ion-list-header>
      Cart List
    </ion-list-header>
    <ion-item *ngFor="let cart of cart" lines="inset">
     {{ cart.cart_pdesc }}kg of {{ cart.cart_pname }} -  {{ cart.cart_pquant | currency:'PHP' }}
     <span hidden> {{ cart?.cart_id }}</span>

      <ion-label slot="end" text-right>
        <ion-button color="light" (click)="addCheck(cart)">
          <ion-icon name="checkbox" style="color: white;"></ion-icon>
        </ion-button>
        <ion-button (click)="delCarts(cart.cart_id);" color="danger">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
      </ion-label>

    </ion-item>
    <ion-button expand="full"  color="light"><span style="color: white; text-transform: uppercase;" (click)="addCheck(cart);">Check out all Items</span></ion-button>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Expenses Overview
    </ion-list-header>
    <ion-item>
      Cart Items:{{ cartCounter }} total product/s.<span slot="end"></span>
     </ion-item>
    <ion-item>
      Total Cart Products: {{ totalamount | currency:'PHP'}}<span slot="end"></span>
    </ion-item>
    <ion-item>
      Delivery Charge: {{ delivery | currency :'PHP' }}<span slot="end"></span>
     </ion-item>
    <ion-item>
     Total Expenses: {{ totalamounts | currency:'PHP' }}<span slot="end"></span>
    </ion-item>
    
  </ion-list>
 
</ion-content>
