@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

ion-card {
  --background:white;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

ion-badge {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100%;
}

.head {
  height: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.title {
  float: left;
  position: relative;
  margin-top: 40px;
  margin-left: 25px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.icon-home {
  font-size: 20px;
  position: absolute;
  margin-top: 42px;
}

.category-block {
  margin-bottom: 4px;
}

ion-fab {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.product-name {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.product-desc {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

ion-button {
  color: white !important;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

h1 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  padding-left: 5px;
  margin-top: 35px;
}

.h12 {
  text-align: left;
  padding-left: 5px;
  font-style: italic;
  font-size: 12px;
  color: white;
}

.src {
  width: 100px;
  height: 100px;
}

.action {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5px;
  --background: #287094;
}

.btns {
  --background: #287094;
}


hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



ion-header {
  ion-toolbar,
  ion-item {
    --background: #287094;
    background: #287094;
    padding: 0 10px;
  }
  ion-buttons {
    margin-top: 30px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }

  ion-item {
    h3 {
      // font-weight: 700;
      font-size: 15px;
      color: #fff;
    }

    p {
      font-weight: bold;
      font-size: 14px;
      color: #fff;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }
}

ion-content {
  --background: #fdfcfa;

  .slides {
    background: #287094;
    padding: 4px 10px 20px 10px;
    border-radius: 0 0 20px 20px;
  }
}

ion-icon {
  font-size: 24px;
  // background-color: #fff;
  color: #fff;
  margin-left: -10px;
}

ion-select {
  /* Applies to the value and placeholder color */
  color: #545ca7;

  /* Set a different placeholder color */
  --placeholder-color: #971e49;

  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;

  justify-content: right;
  text-align: right;
}

.item{
  --background:white;
}

.textlabel{
  color: black;
}


.item-container{
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
  // margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}



.sample-card{
  width: 100%;
  height: auto;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

.sample-card img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
