<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button style="margin-left: 10px">
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/main">
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-label *ngFor="let users of users">
      <p>Hola, {{users.user_names}}</p>
      <h3>Enjoy your shopping experience!</h3>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openCart()">
    <ion-fab-button class="btns">
      <ion-badge class="btns">{{ cartCounter }}</ion-badge>
      <ion-icon name="cart" style="color: white"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <br />

  <!-- <div class="category-block">
    <ion-row no-padding class="category-banner">
      <ion-col style="text-align: left"> Fresh Products </ion-col>
    </ion-row>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let products of products">
        <div>
          <ion-card>
            <ion-item class="item" lines="none">
              <ion-label class="textlabel">
                ₱{{ products.pquant }}</ion-label>
            </ion-item>
            <ion-card-header style="margin-top: -25px">
              <ion-card-title>
                <p class="product-name">{{ products.pname }}</p>
                <hr />
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img src="{{products.image}}" alt="" class="src" />
              <ion-button (click)="addToCart(products)" class="btns" display="expand">
                <ion-icon name="cart-outline"></ion-icon> &nbsp;
                <span class="action">ADD TO CART</span>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div> -->


  <div class="item-container ion-padding">

    <div class="sample-card" *ngFor = "let products of products" (click)="openModal(products)">
      <img src="{{products.image}}" alt="" >
    </div>

  </div>

</ion-content>
