@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

ion-header {
  ion-toolbar,
  ion-item {
    --background: #fff;
    background: #fff;
    padding: 0 10px;
  }
  ion-buttons{
    margin-top: 30px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
      color: #245c5a;
    }

    p {
      font-weight: 500;
      font-size: 16px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }
}

ion-content {
  --background: #f1f5f8;

  .slides {
    background: #fff;
    padding: 4px 10px 20px 10px;
    border-radius: 0 0 15px 15px;
  }
}

ion-label {
  color: black;
  font-size: 16px;
}

.title {
  font-size: 15px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  // text-transform: uppercase;
}

.desc{
  font-size: 13px;
  font-family: 'Poppins',sans-serif;
}

.container {
  padding: 10px;
  margin-top: -30px;

}

p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.action-buttons {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.login-button {
  --background: #245c5a;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.forgot {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #7b7b7b;
  text-align: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

hr {
  border: 0;
  height: 1px;
  background: #1e5799;
  background: linear-gradient(to right,  #245c5a 70%,#7db9e8 30%);
}