<ion-content [fullscreen]="true">
  <div class="header">
    <div class="holder">
      <img src="../../assets/lawrenz.jpg" alt="" class="src">
    </div>
  </div>

  <div class="profile" *ngFor="let users of users">
    <h1 class="user-name">{{ users.user_name +' '+ users.user_fname }}</h1>
    <div class="login-form">
      <div class="form-input">
        <ion-item>
          <ion-input type="text" disabled="true"> Contact: {{ users.user_contact }} </ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="text"  disabled="true"> Email: {{ users.user_email }} </ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="text"  disabled="true">Address: {{ users.user_address }}</ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="text"  disabled="true">Contact: {{users.user_contact}}</ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button">
      <ion-button class="login-button" routerLink="/login">Logout</ion-button>
      <p class="forgot" routerLink="/login">EDIT MY PROFILE</p>
    </div>
  </div>

</ion-content>
