<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide class="ion-padding">
      <img src="../../assets/project-logo/logo1.png" >

      <div class="slider-text">
        <h2>Easy Exchange!</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla ultricies, erat vitae
          porta consequat.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()" class="btn">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()" class="btn">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/project-logo/logo1.png" >


      <div class="slider-text">
        <h2>Easy to Use!</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla ultricies, erat vitae
          porta consequat.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()" class="btn" class="btn">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()" class="btn">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/project-logo/logo1.png" >


      <div class="slider-text">
        <h2>Connect with Others</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nulla ultricies, erat vitae
          porta consequat.
        </p>
      </div>

      <ion-button color="light" routerLink="/login"><span style="color: white;">GET STARTED</span></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>