<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide class="ion-padding">
      <img src="../../assets/slide1.jpg" >
      <br><br><br>
      <div class="slider-text">
        <h2>Travel Free</h2>

        <p>
          There's no need to go to your Malls or Supermarket. You can buy anything with just a few clicks.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()" class="btn">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()" class="btn">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/slide2.jpg" >


      <div class="slider-text">
        <h2>Fashion.. Style.. Classy..</h2>

        <p>
           Flashionable, Stylish and Classy Watches
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()" class="btn" class="btn">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()" class="btn">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/project-logo/tempusLogo.png" >


      <div class="slider-text">
        <h2>Buy with ease</h2>

        <p>
          The Essence of Time
        </p>
      </div>

      <ion-button routerLink="/login"><span style="color: white;">GET STARTED</span></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>