<ion-header class="ion-no-border">
</ion-header>
<ion-content>

  <img src="../../assets//project-logo/logo.png" alt="" class="src">

  <div class="login-section ion-padding">
    <div class="heading">
      <h1>Sign up here! </h1>
      <p>Create account here, <span routerLink="/login">have an account?</span></p>
    </div>
    <div class="login-form">
      <div class="form-input">
        <ion-item>
          <ion-input type="text" placeholder="Full Name" [(ngModel)]="user_names"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="text" placeholder="Address"[(ngModel)]="user_address"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="number" placeholder="Contact" [(ngModel)]="user_contact"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="email" placeholder="Email" [(ngModel)]="user_email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="password" placeholder="Password" [(ngModel)]="user_password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button">
      <ion-button class="login-button" (click)="regUser()">Sign Up</ion-button>
      <!-- <p class="forgot" routerLink="/login">Have an account?</p> -->
    </div>

  </div>
</ion-content>
